# Visión general

Pandas tiene una API de opciones que configura y personaliza el comportamiento global relacionado con la visualización de DataFrame, el comportamiento de los datos y más. Las opciones tienen un nombre completo de "estilo punteado" que no distingue entre mayúsculas y minúsculas (por ejemplo, display.max_rows). Puede obtener/establecer opciones directamente como atributos del atributo de opciones de nivel superior

In [1]:
import numpy as np
import pandas as pd

### La API se compone de 5 funciones relevantes, disponibles directamente desde el espacio de nombres de pandas:

#### 1. get_option() / set_option() - obtiene/establece el valor de una sola opción.
#### 2. reset_option(): restablece una o más opciones a su valor predeterminado.
#### 3. describe_option() - imprime las descripciones de una o más opciones.
#### 4. option_context(): ejecuta un bloque de código con un conjunto de opciones que vuelven a la configuración anterior después de la ejecución. Tratamiento global relacionado con la visualización de DataFrame, el comportamiento de los datos y más.

Las opciones tienen un nombre completo de "estilo punteado" que no distingue entre mayúsculas y minúsculas (por ejemplo, display.max_rows). Puede obtener/establecer opciones directamente como atributos del atributo de opciones de nivel superior:

### Ejemplo - Desplegar un número máximo de filas

In [2]:
pd.options.display.max_rows

60

In [3]:
pd.options.display.max_rows = 999

In [6]:
# La opción la definimos de la forma siguiente
pd.options.display.max_rows = 999

In [7]:
pd.options.display.max_rows

999

## 1. Opciones disponibles - describe_option()

In [8]:
# Puede obtener una lista de las opciones disponibles y sus descripciones con describe_option(). 
# Cuando se llama sin argumento, describe_option() imprimirá las descripciones de todas las opciones disponibles.
pd.describe_option()

compute.use_bottleneck : bool
    Use the bottleneck library to accelerate if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
compute.use_numba : bool
    Use the numba engine option for select operations if it is installed,
    the default is False
    Valid values: False,True
    [default: False] [currently: False]
compute.use_numexpr : bool
    Use the numexpr library to accelerate computation if it is installed,
    the default is True
    Valid values: False,True
    [default: True] [currently: True]
display.chop_threshold : float or None
    if set to a float value, all float values smaller then the given threshold
    will be displayed as exactly 0 by repr and friends.
    [default: None] [currently: None]
display.colheader_justify : 'left'/'right'
    Controls the justification of column headers. used by DataFrameFormatter.
    [default: right] [currently: right]
display.column_space No description available.
    [default: 12] [currently: 12]
display.date_dayfirst : boolean
    When True, prints and parses dates with the day first, eg 20/01/2005
    [default: False] [currently: False]
display.date_yearfirst : boolean
    When True, prints and parses dates with the year first, eg 2005/01/20
    [default: False] [currently: False]
display.encoding : str/unicode
    Defaults to the detected encoding of the console.
    Specifies the encoding to be used for strings returned by to_string,
    these are generally strings meant to be displayed on the console.
    [default: UTF-8] [currently: UTF-8]
display.expand_frame_repr : boolean
    Whether to print out the full DataFrame repr for wide DataFrames across
    multiple lines, `max_columns` is still respected, but the output will
    wrap-around across multiple "pages" if its width exceeds `display.width`.
    [default: True] [currently: True]
display.float_format : callable
    The callable should accept a floating point number and return
    a string with the desired format of the number. This is used
    in some places like SeriesFormatter.
    See formats.format.EngFormatter for an example.
    [default: None] [currently: None]
display.html.border : int
    A ``border=value`` attribute is inserted in the ``<table>`` tag
    for the DataFrame HTML repr.
    [default: 1] [currently: 1]
display.html.table_schema : boolean
    Whether to publish a Table Schema representation for frontends
    that support it.
    (default: False)
    [default: False] [currently: False]
display.html.use_mathjax : boolean
    When True, Jupyter notebook will process table contents using MathJax,
    rendering mathematical expressions enclosed by the dollar symbol.
    (default: True)
    [default: True] [currently: True]
display.large_repr : 'truncate'/'info'
    For DataFrames exceeding max_rows/max_cols, the repr (and HTML repr) can
    show a truncated table (the default from 0.13), or switch to the view from
    df.info() (the behaviour in earlier versions of pandas).
    [default: truncate] [currently: truncate]
display.latex.escape : bool
    This specifies if the to_latex method of a Dataframe uses escapes special
    characters.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.longtable :bool
    This specifies if the to_latex method of a Dataframe uses the longtable
    format.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.multicolumn : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: True] [currently: True]
display.latex.multicolumn_format : bool
    This specifies if the to_latex method of a Dataframe uses multicolumns
    to pretty-print MultiIndex columns.
    Valid values: False,True
    [default: l] [currently: l]
display.latex.multirow : bool
    This specifies if the to_latex method of a Dataframe uses multirows
    to pretty-print MultiIndex rows.
    Valid values: False,True
    [default: False] [currently: False]
display.latex.repr : boolean
    Whether to produce a latex DataFrame representation for jupyter
    environments that support it.
    (default: False)
    [default: False] [currently: False]
display.max_categories : int
    This sets the maximum number of categories pandas should output when
    printing out a `Categorical` or a Series of dtype "category".
    [default: 8] [currently: 8]
display.max_columns : int
    If max_cols is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the width of the terminal and print a truncated object which fits
    the screen width. The IPython notebook, IPython qtconsole, or IDLE
    do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 20] [currently: 20]
display.max_colwidth : int or None
    The maximum width in characters of a column in the repr of
    a pandas data structure. When the column overflows, a "..."
    placeholder is embedded in the output. A 'None' value means unlimited.
    [default: 50] [currently: 50]
display.max_dir_items : int
    The number of items that will be added to `dir(...)`. 'None' value means
    unlimited. Because dir is cached, changing this option will not immediately
    affect already existing dataframes until a column is deleted or added.

    This is for instance used to suggest columns from a dataframe to tab
    completion.
    [default: 100] [currently: 100]
display.max_info_columns : int
    max_info_columns is used in DataFrame.info method to decide if
    per column information will be printed.
    [default: 100] [currently: 100]
display.max_info_rows : int or None
    df.info() will usually show null-counts for each column.
    For large frames this can be quite slow. max_info_rows and max_info_cols
    limit this null check only to frames with smaller dimensions than
    specified.
    [default: 1690785] [currently: 1690785]
display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 999]
display.max_seq_items : int or None
    When pretty-printing a long sequence, no more then `max_seq_items`
    will be printed. If items are omitted, they will be denoted by the
    addition of "..." to the resulting string.

    If set to None, the number of items to be printed is unlimited.
    [default: 100] [currently: 100]
display.memory_usage : bool, string or None
    This specifies if the memory usage of a DataFrame should be displayed when
    df.info() is called. Valid values True,False,'deep'
    [default: True] [currently: True]
display.min_rows : int
    The numbers of rows to show in a truncated view (when `max_rows` is
    exceeded). Ignored when `max_rows` is set to None or 0. When set to
    None, follows the value of `max_rows`.
    [default: 10] [currently: 10]
display.multi_sparse : boolean
    "sparsify" MultiIndex display (don't display repeated
    elements in outer levels within groups)
    [default: True] [currently: True]
display.notebook_repr_html : boolean
    When True, IPython notebook will use html representation for
    pandas objects (if it is available).
    [default: True] [currently: True]
display.pprint_nest_depth : int
    Controls the number of nested levels to process when pretty-printing
    [default: 3] [currently: 3]
display.precision : int
    Floating point output precision in terms of number of places after the
    decimal, for regular formatting as well as scientific notation. Similar
    to ``precision`` in :meth:`numpy.set_printoptions`.
    [default: 6] [currently: 6]
display.show_dimensions : boolean or 'truncate'
    Whether to print out dimensions at the end of DataFrame repr.
    If 'truncate' is specified, only print out the dimensions if the
    frame is truncated (e.g. not display all rows and/or columns)
    [default: truncate] [currently: truncate]
display.unicode.ambiguous_as_wide : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.unicode.east_asian_width : boolean
    Whether to use the Unicode East Asian Width to calculate the display text
    width.
    Enabling this may affect to the performance (default: False)
    [default: False] [currently: False]
display.width : int
    Width of the display in characters. In case python/IPython is running in
    a terminal this can be set to None and pandas will correctly auto-detect
    the width.
    Note that the IPython notebook, IPython qtconsole, or IDLE do not run in a
    terminal and hence it is not possible to correctly detect the width.
    [default: 80] [currently: 80]
io.excel.ods.reader : string
    The default Excel reader engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.ods.writer : string
    The default Excel writer engine for 'ods' files. Available options:
    auto, odf.
    [default: auto] [currently: auto]
io.excel.xls.reader : string
    The default Excel reader engine for 'xls' files. Available options:
    auto, xlrd.
    [default: auto] [currently: auto]
io.excel.xls.writer : string
    The default Excel writer engine for 'xls' files. Available options:
    auto, xlwt.
    [default: auto] [currently: auto]
    (Deprecated, use `` instead.)
io.excel.xlsb.reader : string
    The default Excel reader engine for 'xlsb' files. Available options:
    auto, pyxlsb.
    [default: auto] [currently: auto]
io.excel.xlsm.reader : string
    The default Excel reader engine for 'xlsm' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsm.writer : string
    The default Excel writer engine for 'xlsm' files. Available options:
    auto, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.reader : string
    The default Excel reader engine for 'xlsx' files. Available options:
    auto, xlrd, openpyxl.
    [default: auto] [currently: auto]
io.excel.xlsx.writer : string
    The default Excel writer engine for 'xlsx' files. Available options:
    auto, openpyxl, xlsxwriter.
    [default: auto] [currently: auto]
io.hdf.default_format : format
    default format writing format, if None, then
    put will default to 'fixed' and append will default to 'table'
    [default: None] [currently: None]
io.hdf.dropna_table : boolean
    drop ALL nan rows when appending to a table
    [default: False] [currently: False]
io.parquet.engine : string
    The default parquet reader/writer engine. Available options:
    'auto', 'pyarrow', 'fastparquet', the default is 'auto'
    [default: auto] [currently: auto]
io.sql.engine : string
    The default sql reader/writer engine. Available options:
    'auto', 'sqlalchemy', the default is 'auto'
    [default: auto] [currently: auto]
mode.chained_assignment : string
    Raise an exception, warn, or no action if trying to use chained assignment,
    The default is warn
    [default: warn] [currently: warn]
mode.data_manager : string
    Internal data manager type; can be "block" or "array". Defaults to "block",
    unless overridden by the 'PANDAS_DATA_MANAGER' environment variable (needs
    to be set before pandas is imported).
    [default: block] [currently: block]
mode.sim_interactive : boolean
    Whether to simulate interactive mode for purposes of testing
    [default: False] [currently: False]
mode.string_storage : string
    The default storage for StringDtype.
    [default: python] [currently: python]
mode.use_inf_as_na : boolean
    True means treat None, NaN, INF, -INF as NA (old way),
    False means None and NaN are null, but INF, -INF are not NA
    (new way).
    [default: False] [currently: False]
mode.use_inf_as_null : boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.
    [default: False] [currently: False]
    (Deprecated, use `mode.use_inf_as_na` instead.)
plotting.backend : str
    The plotting backend to use. The default value is "matplotlib", the
    backend provided with pandas. Other backends can be specified by
    providing the name of the module that implements the backend.
    [default: matplotlib] [currently: matplotlib]
plotting.matplotlib.register_converters : bool or 'auto'.
    Whether to register converters with matplotlib's units registry for
    dates, times, datetimes, and Periods. Toggling to False will remove
    the converters, restoring any converters that pandas overwrote.
    [default: auto] [currently: auto]
styler.format.decimal : str
    The character representation for the decimal separator for floats and complex.
    [default: .] [currently: .]
styler.format.escape : str, optional
    Whether to escape certain characters according to the given context; html or latex.
    [default: None] [currently: None]
styler.format.formatter : str, callable, dict, optional
    A formatter object to be used as default within ``Styler.format``.
    [default: None] [currently: None]
styler.format.na_rep : str, optional
    The string representation for values identified as missing.
    [default: None] [currently: None]
styler.format.precision : int
    The precision for floats and complex numbers.
    [default: 6] [currently: 6]
styler.format.thousands : str, optional
    The character representation for thousands separator for floats, int and complex.
    [default: None] [currently: None]
styler.html.mathjax : bool
    If False will render special CSS classes to table attributes that indicate Mathjax
    will not be used in Jupyter Notebook.
    [default: True] [currently: True]
styler.latex.environment : str
    The environment to replace ``\begin{table}``. If "longtable" is used results
    in a specific longtable environment format.
    [default: None] [currently: None]
styler.latex.hrules : bool
    Whether to add horizontal rules on top and bottom and below the headers.
    [default: False] [currently: False]
styler.latex.multicol_align : {"r", "c", "l", "naive-l", "naive-r"}
    The specifier for horizontal alignment of sparsified LaTeX multicolumns. Pipe
    decorators can also be added to non-naive values to draw vertical
    rules, e.g. "\|r" will draw a rule on the left side of right aligned merged cells.
    [default: r] [currently: r]
styler.latex.multirow_align : {"c", "t", "b"}
    The specifier for vertical alignment of sparsified LaTeX multirows.
    [default: c] [currently: c]
styler.render.encoding : str
    The encoding used for output HTML and LaTeX files.
    [default: utf-8] [currently: utf-8]
styler.render.max_columns : int, optional
    The maximum number of columns that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.max_elements : int
    The maximum number of data-cell (<td>) elements that will be rendered before
    trimming will occur over columns, rows or both if needed.
    [default: 262144] [currently: 262144]
styler.render.max_rows : int, optional
    The maximum number of rows that will be rendered. May still be reduced to
    satsify ``max_elements``, which takes precedence.
    [default: None] [currently: None]
styler.render.repr : str
    Determine which output to use in Jupyter Notebook in {"html", "latex"}.
    [default: html] [currently: html]
styler.sparse.columns : bool
    Whether to sparsify the display of hierarchical columns. Setting to False will
    display each explicit level element in a hierarchical key for each column.
    [default: True] [currently: True]
styler.sparse.index : bool
    Whether to sparsify the display of a hierarchical index. Setting to False will
    display each explicit level element in a hierarchical key for each row.
    [default: True] [currently: True]

## 2. Obtener y configurar opciones - get_option(), set_option() y reset_option()

In [9]:
# Como se describió anteriormente, get_option() y set_option() están disponibles en el espacio de nombres pandas. 
# Para cambiar una opción, llama a set_option('option regex', new_value).
pd.get_option("mode.sim_interactive")

False

In [10]:
pd.set_option("mode.sim_interactive", True)

In [11]:
pd.get_option("mode.sim_interactive")

True

In [12]:
# Puede usar reset_option() para volver al valor predeterminado de una configuración
pd.get_option("display.max_rows")

999

In [13]:
pd.set_option("display.max_rows", 999)

In [14]:
pd.get_option("display.max_rows")

999

In [15]:
pd.reset_option("display.max_rows")

In [16]:
pd.get_option("display.max_rows")

60

In [17]:
# El administrador de contexto option_context() ha sido expuesto a través de la API de nivel superior, 
# lo que le permite ejecutar código con valores de opción dados.
with pd.option_context("display.max_rows", 10, "display.max_columns", 5):
    print(pd.get_option("display.max_rows"))
    print(pd.get_option("display.max_columns"))

10
5

In [18]:
print(pd.get_option("display.max_rows"))

60

In [19]:
print(pd.get_option("display.max_columns"))

20

## 3. Opciones y configuraciones más frecuentes

### 3.1 display.max_rows and display.max_columns

In [20]:
# Establece el número máximo de filas y columnas que se muestran cuando un marco está bastante impreso.
df = pd.DataFrame(np.random.randn(7, 2))

In [21]:
pd.set_option("display.max_rows", 5)

In [22]:
df

           0         1
0  -2.639528 -0.753343
1   0.118827 -2.251023
..       ...       ...
5   0.740710 -0.068280
6   0.901510 -1.039730

[7 rows x 2 columns]

In [23]:
# Para resetear la configuración debemos utilizar pd.reset_option
pd.reset_option("display.max_rows")

In [24]:
# Una vez que se excede display.max_rows, las opciones de display.min_rows determinan 
# cuántas filas se muestran en la representación truncada.
pd.set_option("display.max_rows", 8)

In [25]:
pd.set_option("display.min_rows", 4)

In [26]:
# debajo de max_rows -> todas las filas mostradas
df = pd.DataFrame(np.random.randn(7, 2))

In [27]:
df

          0         1
0  1.412860 -0.903962
1 -0.435356  0.370168
2  1.276567  0.996586
3 -0.295896  1.132906
4  0.473863 -2.451191
5  1.926982 -1.253088
6  0.681022  0.206809

In [28]:
# Por encima de max_rows -> solo se muestran min_rows (4) filas
df = pd.DataFrame(np.random.randn(9, 2))

In [29]:
df

           0         1
0   0.209959 -1.592044
1   0.827556 -0.693740
..       ...       ...
7  -0.356346  1.731901
8   0.710769  0.071224

[9 rows x 2 columns]

In [30]:
pd.reset_option("display.max_rows")

In [31]:
pd.reset_option("display.min_rows")

### 3.2 display.expand_frame_repr (true)

In [32]:
# Permite que la representación de un DataFrame se extienda a lo largo de las páginas, cubriendo todas las columnas.
df = pd.DataFrame(np.random.randn(5, 10))

In [33]:
pd.set_option("expand_frame_repr", True)

In [35]:
df

,0,1,2,3,4,5,6,7,8,9
0,2.083507,1.369609,-1.121842,1.467991,1.074950,-0.101868,0.120729,-0.868776,0.669934,0.245437
1,-0.677856,-0.686099,-0.936928,0.184865,1.363541,-0.298171,0.054923,0.100713,-0.575025,1.809973
2,0.839928,-1.644121,-0.166748,0.823678,-0.468565,-1.433297,0.675336,-1.910801,0.156736,-0.039951
3,1.587995,0.248818,-0.457177,1.876711,-0.273752,-0.968781,1.438568,-1.992673,1.287518,0.527834
4,0.149784,-0.449601,-1.479222,0.273493,0.541639,-1.313014,0.150838,-0.464667,0.015708,-1.042608

In [36]:
pd.set_option("expand_frame_repr", False)

In [37]:
df

          0         1         2         3         4         5         6         7         8         9
0  2.083507  1.369609 -1.121842  1.467991  1.074950 -0.101868  0.120729 -0.868776  0.669934  0.245437
1 -0.677856 -0.686099 -0.936928  0.184865  1.363541 -0.298171  0.054923  0.100713 -0.575025  1.809973
2  0.839928 -1.644121 -0.166748  0.823678 -0.468565 -1.433297  0.675336 -1.910801  0.156736 -0.039951
3  1.587995  0.248818 -0.457177  1.876711 -0.273752 -0.968781  1.438568 -1.992673  1.287518  0.527834
4  0.149784 -0.449601 -1.479222  0.273493  0.541639 -1.313014  0.150838 -0.464667  0.015708 -1.042608

In [38]:
pd.reset_option("expand_frame_repr")

### 3.3 display.large_repr

In [40]:
# Muestra un DataFrame que excede max_columns o max_rows como un marco truncado o un resumen.
df = pd.DataFrame(np.random.randn(10, 10))

In [41]:
pd.set_option("display.max_rows", 5)

In [42]:
pd.set_option("large_repr", "truncate")

In [43]:
df

,0,1,2,3,4,5,6,7,8,9
0,-0.756200,-1.583374,-0.937080,-1.737756,-0.126661,1.204784,1.004779,0.694934,-0.713546,-0.460600
1,-0.268712,0.729537,0.462077,-0.419470,0.589128,-0.620988,1.189341,-0.394800,1.121615,-0.956635
...,...,...,...,...,...,...,...,...,...,...
8,-0.995483,0.059397,0.791699,-0.700620,-0.660777,0.403856,0.262984,3.634474,-0.596965,1.735728
9,0.455736,-0.004107,-1.049484,0.397669,0.833004,1.196970,-0.495508,-1.449819,-0.583625,0.150141

In [44]:
pd.set_option("large_repr", "info")

In [45]:
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     float64
 1   1       10 non-null     float64
 2   2       10 non-null     float64
 3   3       10 non-null     float64
 4   4       10 non-null     float64
 5   5       10 non-null     float64
 6   6       10 non-null     float64
 7   7       10 non-null     float64
 8   8       10 non-null     float64
 9   9       10 non-null     float64
dtypes: float64(10)
memory usage: 928.0 bytes

In [46]:
pd.reset_option("large_repr")

In [47]:
pd.reset_option("display.max_rows")

### 3.4 display.max_colwidth - Cantidad de letras en el nombre de una columna

In [48]:
# Establece el ancho máximo de las columnas. Las celdas de esta longitud o más se truncarán con puntos suspensivos
df = pd.DataFrame(
    np.array(
        [
            ["foo", "bar", "bim", "uncomfortably long string"],
            ["horse", "cow", "banana", "apple"],
        ]
    )
)

In [49]:
pd.set_option("max_colwidth", 40)

In [50]:
df

       0    1       2                          3
0    foo  bar     bim  uncomfortably long string
1  horse  cow  banana                      apple

In [51]:
pd.set_option("max_colwidth", 6)

In [52]:
df

       0    1      2      3
0    foo  bar    bim  un...
1  horse  cow  ba...  apple

### 3.5 display.max_info_columns

In [54]:
# Establece un umbral para el número de columnas que se muestran al llamar a info().
df = pd.DataFrame(np.random.randn(10, 10))

In [55]:
pd.set_option("max_info_columns", 11)

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     float64
 1   1       10 non-null     float64
 2   2       10 non-null     float64
 3   3       10 non-null     float64
 4   4       10 non-null     float64
 5   5       10 non-null     float64
 6   6       10 non-null     float64
 7   7       10 non-null     float64
 8   8       10 non-null     float64
 9   9       10 non-null     float64
dtypes: float64(10)
memory usage: 928.0 bytes

In [58]:
pd.set_option("max_info_columns", 5)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Columns: 10 entries, 0 to 9
dtypes: float64(10)
memory usage: 928.0 bytes

In [60]:
pd.reset_option("max_info_columns")

### 3.6 display.max_info_rows

In [61]:
# info() generalmente mostrará recuentos nulos para cada columna. Para un DataFrame grande, esto puede ser bastante lento. 
# max_info_rows y max_info_cols limitan esta comprobación nula a las filas y columnas especificadas, 
# respectivamente. El argumento de la palabra clave info() null_counts=True anulará este
df = pd.DataFrame(np.random.choice([0, 1, np.nan], size=(10, 10)))

In [62]:
df

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  0.0  0.0  NaN
1  NaN  0.0  NaN  NaN  0.0  NaN  NaN  0.0  1.0  0.0
2  0.0  0.0  NaN  NaN  NaN  NaN  NaN  0.0  1.0  1.0
3  0.0  NaN  NaN  1.0  NaN  0.0  NaN  1.0  0.0  NaN
4  0.0  1.0  NaN  NaN  1.0  0.0  NaN  0.0  1.0  NaN
5  0.0  0.0  0.0  NaN  1.0  0.0  NaN  NaN  0.0  1.0
6  0.0  1.0  0.0  0.0  NaN  0.0  0.0  1.0  0.0  0.0
7  NaN  NaN  NaN  0.0  1.0  0.0  1.0  0.0  1.0  1.0
8  0.0  1.0  NaN  NaN  1.0  NaN  0.0  NaN  NaN  1.0
9  0.0  1.0  NaN  0.0  NaN  NaN  1.0  1.0  0.0  NaN

In [63]:
pd.set_option("max_info_rows", 11)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8 non-null      float64
 1   1       8 non-null      float64
 2   2       3 non-null      float64
 3   3       5 non-null      float64
 4   4       6 non-null      float64
 5   5       6 non-null      float64
 6   6       5 non-null      float64
 7   7       8 non-null      float64
 8   8       9 non-null      float64
 9   9       6 non-null      float64
dtypes: float64(10)
memory usage: 928.0 bytes

In [66]:
pd.set_option("max_info_rows", 5)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column  Dtype
---  ------  -----
 0   0       float64
 1   1       float64
 2   2       float64
 3   3       float64
 4   4       float64
 5   5       float64
 6   6       float64
 7   7       float64
 8   8       float64
 9   9       float64
dtypes: float64(10)
memory usage: 928.0 bytes

In [68]:
pd.reset_option("max_info_rows")

### 3.7 display.precision - decimales

In [69]:
# Establece la precisión de visualización de salida en términos de lugares decimales.
df = pd.DataFrame(np.random.randn(5, 5))

In [70]:
pd.set_option("display.precision", 7)

In [72]:
pd.set_option("display.precision", 3)

In [73]:
df

       0      1      2      3      4
0  0.161  0.106  0.557 -0.152 -0.559
1 -0.806 -0.672 -0.643  2.225  0.037
2  1.214 -0.623  0.496 -2.109  0.176
3 -1.596  0.687  0.728 -1.663 -0.332
4 -0.234  1.274  0.152  0.359 -1.542

### 3.8 display.chop_threshold

In [74]:
# Establece el umbral de redondeo en cero cuando se muestra una serie o un marco de datos. 
# Esta configuración no cambia la precisión con la que se almacena el número.
df = pd.DataFrame(np.random.randn(6, 6))

In [75]:
pd.set_option("chop_threshold", 0)

In [76]:
df

       0      1      2      3      4      5
0 -0.468  1.831  0.131 -0.613  1.164 -0.167
1  0.817  0.498 -0.072  1.140  1.036  1.512
2 -0.841  0.210  0.092  0.035 -0.721 -0.834
3  1.029  0.447 -0.089  0.397 -0.042  0.292
4 -1.385  0.300  1.337  1.130  0.865 -0.245
5 -0.552  0.030 -0.949  0.587  0.419 -0.156

In [79]:
# Todo lo que sea menor a 0.5 quedara representado por cero en la tabla
pd.set_option("chop_threshold", 0.5)

In [80]:
df

       0      1      2      3      4      5
0  0.000  1.831  0.000 -0.613  1.164  0.000
1  0.817  0.000  0.000  1.140  1.036  1.512
2 -0.841  0.000  0.000  0.000 -0.721 -0.834
3  1.029  0.000  0.000  0.000  0.000  0.000
4 -1.385  0.000  1.337  1.130  0.865  0.000
5 -0.552  0.000 -0.949  0.587  0.000  0.000

In [81]:
pd.reset_option("chop_threshold")

### 3.9 display.colheader_justify  - Ubicación del nombre de la columna (left or right)

In [89]:
# Controla la justificación de los encabezados. Las opciones son 'derecha' e 'izquierda'.
df = pd.DataFrame(
    np.array([np.random.randn(6), np.random.randint(1, 9, 6) * 0.1, np.zeros(6)]).T,
    columns=["A", "B", "C"],
    dtype="float",
)

In [90]:
pd.set_option("colheader_justify", "right")

In [91]:
df

       A    B    C
0  0.759  0.3  0.0
1  0.581  0.4  0.0
2  0.789  0.5  0.0
3 -0.109  0.7  0.0
4  0.271  0.3  0.0
5 -2.023  0.4  0.0

In [92]:
pd.set_option("colheader_justify", "left")

In [93]:
df

   A      B    C
0  0.759  0.3  0.0
1  0.581  0.4  0.0
2  0.789  0.5  0.0
3 -0.109  0.7  0.0
4  0.271  0.3  0.0
5 -2.023  0.4  0.0