In [1]:
import pandas as pd
import numpy as np
import datetime

In [3]:
# https://github.com/justmarkham/pandas-videos/blob/master/pandas_merge.ipynb

In [4]:
# Para crear una tabla nueva solo debemos colocarle un nombre, y con la funcion pd.merge() unirlas
# movie_ratings = pd.merge(movies, ratings)

### ¿Qué sucede si las columnas a las que desea unirse no tienen el mismo nombre?

In [5]:
# En este caso debemos utilizar left_on= y right_on=, para indicarle el nombre de la columna
# por la que deben unirse las tablas
# pd.merge(movies, ratings, left_on='m_id', right_on='movie_id').head()

### ¿Qué sucede si desea unir las tablas a través de su índice?

In [8]:
# En este caso debemos utilizar el argumento "left_index=True", que le indicará a la tabla
# que debe unirse a la otra, a través del indice de la tabla de la izquierda
# pd.merge(movies, ratings, left_index=True, right_on='movie_id').head()

### ¿Qué pasa si queremos unir las dos tablas directamente a través de su índice?

In [9]:
# Para unir las dos tablas en base a su indice debemos utilizar "left_index=True, right_index=True"
# pd.merge(movies, ratings, left_index=True, right_index=True).head()

In [10]:
A = pd.DataFrame({'color': ['green', 'yellow', 'red'], 'num':[1, 2, 3]})
A

    color  num
0   green    1
1  yellow    2
2     red    3

In [11]:
B = pd.DataFrame({'color': ['green', 'yellow', 'pink'], 'size':['S', 'M', 'L']})
B

    color size
0   green    S
1  yellow    M
2    pink    L

In [12]:
pd.merge(A, B, how="cross")

  color_x  num color_y size
0   green    1   green    S
1   green    1  yellow    M
2   green    1    pink    L
3  yellow    2   green    S
4  yellow    2  yellow    M
5  yellow    2    pink    L
6     red    3   green    S
7     red    3  yellow    M
8     red    3    pink    L