In [1]:
# Primero importamos numpy y pandas
import numpy as np
import pandas as pd

In [7]:
person = {
    "first":"Andres",
    "last":"Gallarraga",
    "email":"andres@gmail.com"
}

In [8]:
person

{'first': 'Andres', 'last': 'Gallarraga', 'email': 'andres@gmail.com'}

In [9]:
people = {
    "first":["Andres"],
    "last":["Gallaraga"],
    "email":["andres@gmail.com"]
}

In [10]:
people

{'first': ['Andres'], 'last': ['Gallaraga'], 'email': ['andres@gmail.com']}

In [16]:
people = {
    "first":["Andres", "Omar", "Miguel"],
    "last":["Galarraga", "Vizquel", "Cabrera"],
    "email":["andres@gmail.com", "omar@email.com", "miguel@email.com"]
}

In [17]:
people

{'first': ['Andres', 'Omar', 'Miguel'],
 'last': ['Galarraga', 'Vizquel', 'Cabrera'],
 'email': ['andres@gmail.com', 'omar@email.com', 'miguel@email.com']}

In [18]:
# Para crear un data frame, solo debemos utilizar un diccionario, donde las keys son el nombre de las columnas
# y el contenido de las columnas sea una lista
# La funcion es pd.DataFrame

df = pd.DataFrame(people)

In [19]:
df

    first       last             email
0  Andres  Galarraga  andres@gmail.com
1    Omar    Vizquel    omar@email.com
2  Miguel    Cabrera  miguel@email.com

In [23]:
# Para saber los nombres de las columnas, debemos utilizar df.columns
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [20]:
# Para acceder a los datos de una columna, solo utilizamos su nombre df['nombre_columna']
df['email']

0    andres@gmail.com
1      omar@email.com
2    miguel@email.com
Name: email, dtype: object

In [22]:
# Para seleccionar dos columnas debemos utilizar corchetes dobles[[]]
df[['first', 'last']]

    first       last
0  Andres  Galarraga
1    Omar    Vizquel
2  Miguel    Cabrera

### Para seleccionar filas, se uilizan ".loc" (etiquetas/texto) y ".iloc" (numeros)

In [25]:
# Para selecionar una fila por su indice numerico, solo debemos colocar el numero en corchetes
# Vamos a seleccionar, todos los datos de la primera fila
df.iloc[0]

first              Andres
last            Galarraga
email    andres@gmail.com
Name: 0, dtype: object

In [31]:
# Utilizando .loc podemos hacer lo mismo
df.loc[0]

first              Andres
last            Galarraga
email    andres@gmail.com
Name: 0, dtype: object

In [26]:
# Para seleccionar dos filas, utilizamos tambien dobles corchetes [[]]
df.iloc[[0, 1]]

    first       last             email
0  Andres  Galarraga  andres@gmail.com
1    Omar    Vizquel    omar@email.com

### Pero .loc y .iloc, tambien permiten seleccionar filas y columnas a la vez [filas, columas]

In [30]:
# Si utiliamos iloc, debemos recordar, que tanto filas como columnas deben ser seleccionadas por numeros
df.iloc[[0, 1], [0, 1]]

    first       last
0  Andres  Galarraga
1    Omar    Vizquel

In [32]:
# Al momento de utilizar ".loc" podemos utilizar numeros para las filas, pero las columnas se colocan en texto
df.loc[[0,1], ['last', 'first']]

        last   first
0  Galarraga  Andres
1    Vizquel    Omar