## Los índices son los elementos (número o letras) que indican el contenido de las filas de la tabla

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Vamos a crear un diccionario para utilizarlo como ejemplo
people = {
    "first":["Andres", "Omar", "Miguel"],
    "last":["Galarraga", "Vizquel", "Cabrera"],
    "email":["andres@gmail.com", "omar@email.com", "miguel@email.com"]
}

In [3]:
people

{'first': ['Andres', 'Omar', 'Miguel'],
 'last': ['Galarraga', 'Vizquel', 'Cabrera'],
 'email': ['andres@gmail.com', 'omar@email.com', 'miguel@email.com']}

In [4]:
df = pd.DataFrame(people)

In [5]:
df

    first       last             email
0  Andres  Galarraga  andres@gmail.com
1    Omar    Vizquel    omar@email.com
2  Miguel    Cabrera  miguel@email.com

In [6]:
df['email']

0    andres@gmail.com
1      omar@email.com
2    miguel@email.com
Name: email, dtype: object

### Colocar una de nuestras columnas como indice de la tabla: df.set_index()

In [7]:
# En pandas podemos utilizar el indice por defecto, o volver una de nuestras columnas el indice con df.set_index()
df.set_index('email')

                   first       last
email
andres@gmail.com  Andres  Galarraga
omar@email.com      Omar    Vizquel
miguel@email.com  Miguel    Cabrera

In [8]:
# Por defecto, pandas no modifica la tabla original, si la vemos aparecera exactamente igual
df

    first       last             email
0  Andres  Galarraga  andres@gmail.com
1    Omar    Vizquel    omar@email.com
2  Miguel    Cabrera  miguel@email.com

In [9]:
# Para poder cambiar el indice de la tabla, debemos utilizar el argumento "inplace = True"
df.set_index('email', inplace = True)

In [11]:
# Ahora el data frame si aparece con la columna de email como indice
df

                   first       last
email
andres@gmail.com  Andres  Galarraga
omar@email.com      Omar    Vizquel
miguel@email.com  Miguel    Cabrera

In [13]:
df.index

Index(['andres@gmail.com', 'omar@email.com', 'miguel@email.com'], dtype='object', name='email')

In [16]:
# Ahora podemos utilizar ".loc" para hacer busquedas con el nuevo indice, que es el email
df.loc['omar@email.com']

first       Omar
last     Vizquel
Name: omar@email.com, dtype: object

In [17]:
df.loc[['omar@email.com', 'miguel@email.com']]

                   first     last
email
omar@email.com      Omar  Vizquel
miguel@email.com  Miguel  Cabrera

### Para eliminar el indice, utilizaremos df.reset_index(inplace = True)

In [19]:
# Haciendo esto, volveremos a tener nuestro indice por defecto
df.reset_index(inplace = True)
df

   index             email   first       last
0      0  andres@gmail.com  Andres  Galarraga
1      1    omar@email.com    Omar    Vizquel
2      2  miguel@email.com  Miguel    Cabrera