# Uso de condicionales para filtrar filas y columnas

In [1]:
import numpy as np
import pandas as pd

In [7]:
# Los condicionales más comunes en python son los siguientes:

# Equals: a == b
# Not Equals: a != b
# Less than: a < b
# Less than or equal to: a <= b
# Greater than: a > b
# Greater than or equal to: a >= b

In [2]:
# Vamos a crear un diccionario para utilizarlo como ejemplo
people = {
    "first":["Andres", "Omar", "Miguel"],
    "last":["Galarraga", "Vizquel", "Cabrera"],
    "email":["andres@gmail.com", "omar@email.com", "miguel@email.com"]
}

In [3]:
people

{'first': ['Andres', 'Omar', 'Miguel'],
 'last': ['Galarraga', 'Vizquel', 'Cabrera'],
 'email': ['andres@gmail.com', 'omar@email.com', 'miguel@email.com']}

In [5]:
df = pd.DataFrame(people)

In [6]:
df

    first       last             email
0  Andres  Galarraga  andres@gmail.com
1    Omar    Vizquel    omar@email.com
2  Miguel    Cabrera  miguel@email.com

## ¿ Cómo filtrar?

In [9]:
# Para filtrar solo debemos selecionar un columna df['columna'] y luego especificar la condicion: df['columna'] >= x. 
# El resultado del filtro es un valor booleano
# Ejemplo:
df['last'] == 'Vizquel'

0    False
1     True
2    False
Name: last, dtype: bool

### 1. Crear una variable para filtrar

In [10]:
# Para que no aparezca el booleano, debemos crear una variable que nos ayude a filtrar
# Se recomienda colocar el filtro en parentesis
filtro1 = (df['last'] == 'Vizquel')

In [12]:
df[filtro1]

  first     last           email
1  Omar  Vizquel  omar@email.com

In [14]:
# Una forma alternativa de filtrar, seria colocar toda la operacion de filtrado en corchetes [ ]
# Pero es mucho mas confuso para leer, por eso se recomienda crear una variable
df [df['last'] == 'Vizquel']

  first     last           email
1  Omar  Vizquel  omar@email.com

### 2. Filtrar utilizando .loc

In [15]:
# Tambien podemos aplicar nuestra variable "filtro" a la funcion ".loc"
df.loc[filtro1]

  first     last           email
1  Omar  Vizquel  omar@email.com

In [16]:
# Utilizar ".loc", permite agregar al filtro una o varias columnas
df.loc[filtro1, 'email']

1    omar@email.com
Name: email, dtype: object

In [17]:
df.loc[filtro1, ['email', 'last']]

            email     last
1  omar@email.com  Vizquel

### 3. Filtrar con operadores AND (&) y OR (|)

In [28]:
# Vamos a crear un filtro con dos condiciones
filtro2 = (df['last'] == 'Vizquel') & (df['email'] == 'omar@email.com')

# Ejemplo con AND: filtro = (df ['last'] == 'Doe') & (df ['first] == 'John')
# Ejemplo con OR:  filtro = (df ['last'] == 'Schafer') | (df ['first] == 'John')

In [27]:
df[filtro2]

  first     last           email
1  Omar  Vizquel  omar@email.com

In [32]:
# Podemos aplicar .loc de nuevo, para ver el resultado de una sola columna
df.loc[filtro2, 'last']

1    Vizquel
Name: last, dtype: object

### 4. Negar un filtro con "~"

In [33]:
# Para negar un filtro, solo debemos colocar una virgulilla, delante de la variable de filtrado: ~filtro
# Ejemplo: df.loc[~filtro1]
df.loc[~filtro1]

    first       last             email
0  Andres  Galarraga  andres@gmail.com
2  Miguel    Cabrera  miguel@email.com