## Como organizar los valores de la tabla

### Ordenar una columna, ordenar varias columnas y seleccionar los valores mas altos y mas bajos de diferentes filas

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Vamos a crear un diccionario para utilizarlo como ejemplo
people = {
    "first":["Andres", "Omar", "Miguel"],
    "last":["Galarraga", "Vizquel", "Cabrera"],
    "email":["andres@gmail.com", "omar@email.com", "miguel@email.com"]
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

    first       last             email
0  Andres  Galarraga  andres@gmail.com
1    Omar    Vizquel    omar@email.com
2  Miguel    Cabrera  miguel@email.com

## 1. Ordenar a traves de una sola columna: df.sort_values()

In [5]:
# Vamos a ordenar por el apellido (last)
df.sort_values(by = 'last')

    first       last             email
2  Miguel    Cabrera  miguel@email.com
0  Andres  Galarraga  andres@gmail.com
1    Omar    Vizquel    omar@email.com

In [14]:
# Otra forma de hacerlo seria la siguiente. Pero esto solo ordena la serie, no el Data Frame
df['last'].sort_values()

2      Cabrera
0    Galarraga
1      Vizquel
Name: last, dtype: object

In [6]:
# Para utilizar el orden inverso, debemos aplicar el argumento: "ascending = False"
df.sort_values(by = 'last', ascending = False)

    first       last             email
1    Omar    Vizquel    omar@email.com
0  Andres  Galarraga  andres@gmail.com
2  Miguel    Cabrera  miguel@email.com

## 2. Ordenar a traves de dos columnas: df.sort_values() - Se utiliza una lista

In [7]:
df.sort_values(by = ['last', 'first'])

    first       last             email
2  Miguel    Cabrera  miguel@email.com
0  Andres  Galarraga  andres@gmail.com
1    Omar    Vizquel    omar@email.com

## 3. Ordenar columnas una en orden correcto y otra en orden inverso - Se utiliza una lista en ascending

In [8]:
df.sort_values(by = ['last', 'first'], ascending = [False, True])

    first       last             email
1    Omar    Vizquel    omar@email.com
0  Andres  Galarraga  andres@gmail.com
2  Miguel    Cabrera  miguel@email.com

In [10]:
# Para que se aplique el cambio, debemos utilizar "inplace = True"
df.sort_values(by = ['last', 'first'], ascending = [False, True], inplace = True)

In [11]:
df

    first       last             email
1    Omar    Vizquel    omar@email.com
0  Andres  Galarraga  andres@gmail.com
2  Miguel    Cabrera  miguel@email.com

## 4. Ordenar los indices - df.sort_index

In [12]:
df.sort_index()

    first       last             email
0  Andres  Galarraga  andres@gmail.com
1    Omar    Vizquel    omar@email.com
2  Miguel    Cabrera  miguel@email.com